<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xcj.app.userinfo.dao.mysql.FriendDao">

    <insert id="addFriend">
        insert into user_friend_2022(uid, friend_uid, added_time, create_time)
        value (#{uid}, #{friendUid}, current_timestamp(), current_timestamp())
    </insert>

    <delete id="deleteFriend">
        delete from user_friend_2022 where uid=#{uid} and friend_uid=#{friendUid}
    </delete>

    <delete id="deleteFriends">
        delete from user_friend_2022 where uid=#{uid} and friend_uid in
        <foreach collection="friendUids" open="(" close=")" separator="," item="friendUid">
            #{friendUid}
        </foreach>
    </delete>

    <select id="getFriendUidsByUid" resultType="java.lang.String">
        select friend_uid
        from user_friend_2022
        where uid=#{uid};
    </select>
    <select id="isShipExist" resultType="java.lang.Boolean">
        select count(1)
        from user_friend_2022
        where uid = #{uid} and friend_uid = #{friendUid};
    </select>
    <!--<cache/>-->
</mapper>