<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xcj.app.userinfo.dao.mysql.UserFollowersDao">

    <insert id="addFollowers">
        insert into
        user_followers_2022(
        uid,
        follower_uid,
        follow_datetime,
        create_time,
        update_time
        )
        values
        <foreach collection="followerUids" item="followerUid" separator="," close=";">
            (
            #{uid},
            #{followerUid},
            current_timestamp(),
            current_timestamp(),
            current_timestamp()
            )
        </foreach>
    </insert>

    <delete id="deleteFollower">
        delete from user_followers_2022 where uid=#{uid} and follower_uid=${followerUid}
    </delete>

    <select id="getFollowersByUserId" resultType="xcj.app.userinfo.model.res.UserInfoRes">
        select
        user_2022.agree_to_the_agreement,
        user_2022.uid,
        user_info_2022.`name`,
        user_info_2022.age,
        user_info_2022.sex,
        user_info_2022.email,
        user_info_2022.phone,
        user_info_2022.address,
        user_info_2022.avatar_url,
        user_info_2022.introduction,
        user_info_2022.company,
        user_info_2022.profession,
        user_info_2022.website
        from
        (select user_followers_2022.follower_uid from user_followers_2022 where user_followers_2022.uid = #{uid}) as temp
        left join user_info_2022
        on user_info_2022.uid = temp.follower_uid
        left join user_2022
        on temp.follower_uid = user_2022.uid
    </select>
     <select id="getFollowedUsersByUser" resultType="xcj.app.userinfo.model.res.UserInfoRes">
         select
         user_2022.agree_to_the_agreement,
         user_2022.uid,
         user_info_2022.`name`,
         user_info_2022.age,
         user_info_2022.sex,
         user_info_2022.email,
         user_info_2022.phone,
         user_info_2022.address,
         user_info_2022.avatar_url,
         user_info_2022.introduction,
         user_info_2022.company,
         user_info_2022.profession,
         user_info_2022.website
         from
         (select user_followers_2022.uid from user_followers_2022 where user_followers_2022.follower_uid = #{uid}) as temp
         left join user_info_2022
         on user_info_2022.uid = temp.uid
         left join user_2022
         on temp.uid = user_2022.uid
     </select>
    <cache/>
</mapper>