<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xcj.app.userinfo.dao.mysql.UserScreenCollectDao">

   <insert id="addUserScreenCollect">
       insert into
       user_screen_collect_2022 (
       uid,
       screen_id,
       collect_time,
       <if test="category!=null">category, </if>
       create_time,
       update_time)
       values
       (
       #{uid},
       #{screenId},
       current_timestamp(),
       <if test="category!=null">#{category},</if>
       current_timestamp(),
       current_timestamp()
       )
   </insert>
    <update id="removeCollectScreenByUidAndScreenId">
        update user_screen_collect_2022 set deleted=1 where uid=${uid} and screen_id=${screenId};
    </update>
    <!--<cache/>-->
</mapper>