<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xcj.app.main.dao.mysql.UserDao">

    <select id="getUserUidByAccountAndPassword" resultType="java.lang.String">
        SELECT
        uid
        FROM
        user_2022
        WHERE
        account=#{account} AND `password`=#{password};
    </select>
    <select id="getUserByAccountAndPassword" resultType="xcj.app.main.model.table.mysql.User">
        SELECT
        id,
        account,
        password,
        sign_up_time,
        agree_to_the_agreement,
        can_multi_online,
        uid ,
        salt,
        hash
        FROM
        user_2022
        WHERE
        account=#{account} AND `password`=#{password}
    </select>
    <select id="getUserByAccount" resultType="xcj.app.main.model.table.mysql.User">
        SELECT
        id,
        account,
        password,
        sign_up_time,
        agree_to_the_agreement,
        can_multi_online,
        uid,
        salt,
        hash
        FROM
        user_2022
        WHERE
        account=#{account}
    </select>

    <select id="getUserByUid" resultType="xcj.app.main.model.table.mysql.User">
        SELECT
        id,
        account,
        password,
        sign_up_time,
        agree_to_the_agreement,
        can_multi_online,
        uid,
        salt,
        hash
        FROM
        user_2022
        WHERE
        uid=#{uid}
    </select>

    <insert id="addUser">
        INSERT INTO
        user_2022(
        account,
        `password`,
        sign_up_time,
        can_multi_online,
        uid,
        salt,
        hash
        )
        VALUE
        (
        #{account},
        #{password},
        current_timestamp(),
        #{canMultiOnline},
        #{uid},
        #{salt},
        #{hash}
        );
        INSERT INTO
        user_info_2022(
        <if test="avatarUrl!=null">avatar_url ,</if>
        <if test="introduction!=null">introduction ,</if>
        <if test="tags!=null">tags ,</if>
        <if test="sex!=null">sex ,</if>
        <if test="age!=null">age ,</if>
        <if test="phone!=null">phone ,</if>
        <if test="email!=null">email ,</if>
        <if test="area!=null">area ,</if>
        <if test="address!=null">address ,</if>
        <if test="website!=null">website ,</if>
        uid,
        name
        )
        VALUE(
        <if test="avatarUrl!=null">#{avatarUrl} ,</if>
        <if test="introduction!=null">#{introduction} ,</if>
        <if test="tags!=null">#{tags} ,</if>
        <if test="sex!=null">#{sex} ,</if>
        <if test="age!=null">#{age} ,</if>
        <if test="phone!=null">#{phone} ,</if>
        <if test="email!=null">#{email} ,</if>
        <if test="area!=null">#{area} ,</if>
        <if test="address!=null">#{address} ,</if>
        <if test="website!=null">#{website}</if>
        #{uid},
        #{name}
        )
    </insert>

    <select id="getUserInfoResByUid" resultType="xcj.app.main.model.res.UserInfoRes">
        SELECT
            user_2022.agree_to_the_agreement,
            user_2022.uid,
            user_info_2022.`name`,
            user_info_2022.age,
            user_info_2022.sex,
            user_info_2022.email,
            user_info_2022.phone,
            user_info_2022.address,
            user_info_2022.avatar_url,
            user_info_2022.introduction,
            user_info_2022.company,
            user_info_2022.profession,
            user_info_2022.website
        FROM
            user_2022
        LEFT JOIN
        user_info_2022
        ON
        user_info_2022.uid = user_2022.uid
        WHERE
        user_2022.uid = #{uid}
    </select>

    <select id="getUserInfoResList" resultType="xcj.app.main.model.res.UserInfoRes">
        SELECT
            user_2022.agree_to_the_agreement,
            user_2022.uid,
            user_info_2022.`name`,
            user_info_2022.age,
            user_info_2022.sex,
            user_info_2022.email,
            user_info_2022.phone,
            user_info_2022.address,
            user_info_2022.avatar_url,
            user_info_2022.introduction,
            user_info_2022.company,
            user_info_2022.profession,
            user_info_2022.website
        FROM
            user_2022
        LEFT JOIN
        user_info_2022
        ON
        user_info_2022.uid = user_2022.uid
        WHERE
        user_2022.uid IN
        <foreach collection="uids" open="(" close=")" separator="," item="uid">
            #{uid}
        </foreach>
    </select>
    <update id="updateUser" parameterType="xcj.app.main.model.table.mysql.User">
        UPDATE
        user_2022
        <trim prefix="set" suffixOverrides=",">
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="signInTime!=null">
                sign_in_time=#{signInTime},
            </if>
            <if test="singInTimes!=null">
                sign_in_times=#{singInTimes},
            </if>
            <if test="signDeviceInfo!=null">
                sign_device_info=#{signDeviceInfo},
            </if>
            <if test="signInLocation!=null">
                sign_in_location=#{signInLocation},
            </if>
            <if test="signInIp!=null">
                sign_in_ip=#{signInIp},
            </if>
            <if test="agreeToTheAgreement!=null">
                agree_to_the_agreement=#{agreeToTheAgreement},
            </if>
        </trim>
        WHERE
        uid = #{uid}
    </update>

    <update id="updateUserSaltHash" parameterType="xcj.app.main.model.table.mysql.User">
        UPDATE
        user_2022
        SET
        salt=#{salt},
        hash=#{hash}
        WHERE
        uid = #{uid}
    </update>

    <select id="findUserCountByUserIds">
        SELECT
        count(1)
        FROM
        user_2022
        WHERE
        uid IN
        <foreach collection="uids" open="(" close=")" separator="," item="uid">
            #{uid}
        </foreach>
    </select>
    <select id="isUserIdExist" resultType="java.lang.Boolean">
        SELECT
        count(1)
        FROM
        user_2022
        WHERE
        uid = #{uid};
    </select>


    <select id="searchUserInfoResByKeywords" resultType="xcj.app.main.model.res.UserInfoRes">
        SELECT
        user_2022.agree_to_the_agreement,
        user_2022.uid,
        user_info_2022.`name`,
        user_info_2022.age,
        user_info_2022.sex,
        user_info_2022.email,
        user_info_2022.phone,
        user_info_2022.address,
        user_info_2022.avatar_url,
        user_info_2022.introduction,
        user_info_2022.company,
        user_info_2022.profession,
        user_info_2022.website
        FROM
        user_2022
        LEFT JOIN
        user_info_2022
        ON
        user_info_2022.uid = user_2022.uid
        WHERE
        user_2022.account LIKE "%"#{accountEncFromKeywords}"%" OR
        user_info_2022.`name` LIKE "%"#{keywords}"%"
    </select>

    <cache flushInterval="300000"/>
</mapper>