<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xcj.app.main.dao.mysql.UserScreenSystemReviewDao">

    <insert id="addAdminReview">
        INSERT INTO
            user_screen_system_review_2022 (
                screen_id,
                system_review_uid,
                review_result,
                review_message,
                create_time)
        VALUES (
                #{screenId},
                #{reviewUid},
                #{reviewResult},
                #{reviewMessage},
                current_timestamp()
               );
    </insert>
    <!--<cache/>-->
</mapper>