<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appComponentFactory="xcj.app.starter.android.DesignAppComponentFactory"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="p" />

</manifest>