<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.BROADCAST_PACKAGE_REMOVED"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission
        android:name="android.permission.BIND_WALLPAPER"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".App"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".ui.compose.ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Bard.Floating">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>