<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="xcj.external" />
    </queries>

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission
        android:required="true"
        android:name="android.permission.NEARBY_WIFI_DEVICES" />


    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.nonecompose.ui.outside.OutSideActivity"
            android:exported="false"
            android:label="@string/title_activity_out_side"
            android:theme="@style/Theme.AndroidProjectsForXcj" />
        <activity
            android:name=".ui.compose.camera.CameraComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_camera_compose"
            android:theme="@style/Theme.AndroidProjectsForXcj" />
        <activity
            android:name=".ui.nonecompose.CurveViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.nonecompose.ScrollingTemplateActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling_template"
            android:theme="@style/Theme.AppSets.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.nonecompose.ResponsiveTemplateActivity"
            android:exported="false"
            android:label="@string/title_activity_responsive_template"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AppSets.NoActionBar"
            tools:targetApi="24">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:launchMode="singleInstancePerTask"
            android:name=".ui.nonecompose.RecyclerViewTemplateActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:launchMode="singleInstancePerTask"
            android:name=".ui.nonecompose.ui.MediaFallActivity"
            android:exported="false"></activity>

        <service
            android:name=".service.MediaPlayback101Service"
            android:enabled="true"
            android:exported="true"

            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <!--
                    <provider
                android:name=".provider.AppSetsSliceProvider"
                android:authorities="xcj.app.appsets.provider"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.app.slice.category.SLICE" />

                    <data
                        android:host="provider.appsets.app.xcj"
                        android:pathPrefix="/"
                        android:scheme="http" />
                </intent-filter>
            </provider>

            <activity
                android:name=".ui.activity.main.MainActivity"
                android:exported="true"
                android:label="主界面"
                android:theme="@style/Theme.AppSets.NoActionBar">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
            -->
        <activity
            android:name=".ui.compose.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.nonecompose.ShareableMessageActivity" />

        <service android:name=".service.MainService" />

        <activity
            android:name=".ui.compose.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.compose.ExoPlayerActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name="xcj.app.appsets.ui.compose.wlanp2p.WLANP2PActivity"
            android:exported="false"
            android:label="@string/title_activity_wlanp2_pactivity" />
    </application>

</manifest>
